.contactss {
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px;
    background-color: transparent;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .formss {
    flex: 1;
    min-width: 200px;
    padding: 16px 10px;
    box-sizing: border-box;
  }
  
  .formss label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formss input,
  .formss textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .formss textarea {
    height: 150px;
    resize: vertical;
  }
  
  button {
    display: inline-block;
    padding: 1% 2%;
    font-size: 16px;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .contact-name{
    display: flex !important;
    gap: 5px;
    align-items: center;
    /* justify-content: center; */
  }