.footer-section-2{
    background-color: #70102c;
}
.footer-section-one{
    background-image: url('');
    background-color: #550012;
    display: flex;
    align-content: center;
    /* flex-wrap: wrap; */
    padding: 1%;
}
.footer-section-one::after{
    content: '';
}
.footer-section-one-first{
    /* padding: 0% 2%; */
    /* box-shadow: 4px 0.8px 1px grey; */
    border-right: 2px solid grey;
    flex: 30%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.footer-section-one-first img{
    width: 70%;
    height: 70%;
    /* background-color: red; */
}
.footer-sub-first{
    display: flex;
    flex-direction: column;
}
.footer-section-two-second{
    padding: 0% 2%;
    /* box-shadow: 4px 0.8px 1px grey; */
    border-right: 2px solid grey;
    color: white; 
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.address-footer{
    display: flex;
    gap: 20px;
}
.footer-section-three-third{
    padding: 0% 2%;
    /* box-shadow: 4px 0px 1px grey; */
    border-right: 2px solid grey;
    color: white; 
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-footer{
    display: flex;
    gap: 20px;
}
.circle-footer{
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent ;
    padding: 2px;
}
.footer-section-four-fourth{
    padding: 0% 2%;
    /* box-shadow: 4px 0px 1px grey; */
    /* border-right: 2px solid grey; */
    color: white; 
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.email-footer{
    display: flex;
    gap: 20px;
}

.footer-section-two-second ul>li,.footer-section-three-third ul>li,.footer-section-four-fourth ul>li{
    list-style: none;
    /* list-style: red; */
    display: flex;
    gap: 5px;
}
.footer-section-two-second ul>li::before ,.footer-section-three-third ul>li::before, .footer-section-four-fourth ul>li::before{
    content: 'â—';
    color: red;
    /* padding: 2px; */
}

@media (min-width:768px) and (max-width:1024px) {
    .footer-section-one{
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 20px;
    }
    .footer-section-two-second{
        border-right:none ;
    }
}
@media (min-width:320px) and (max-width:767px) {
    .footer-section-one{
        display: grid;
        grid-template-columns: 2fr;
        /* gap: 20px; */
    }
    .footer-section-one-first , .footer-section-two-second, .footer-section-three-third{
        /* padding: 1% 2%; */
        padding: 2% 3%;
        border-right:none ;
    }
    .footer-section-two-second ul>li,.footer-section-three-third ul>li, .footer-section-four-fourth ul>li{
        padding: 1% 3%;
    }
}