.header-main-div{
    position:fixed;
    width: 100%;
    height: 10vh;
    z-index: 999;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-sub-one{
    flex-basis: 5%;
    /* visibility: none; */
}
.header-sub-two{
    flex-basis: 60%;
}
.header-sub-two ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.header-sub-two ul>li {
    text-align: center;
    
    margin-top: 1%;
}
.live-Event::before{
    content: '●';
    color: red;
    padding: 0 0 ;

}
.toggle-container {
    /* position: fixed; */
    top: 0;
    right: 0;
    padding: 1%;
}

#switch {
    opacity: 0;
    /* position: absolute; */
}

.toggle-label {
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    position: relative;
    width: 50px;
}

.toggle-label::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 22px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: 0.3s;
    width: 22px;
}

#switch:checked + .toggle-label {
    background-color: #4caf50;
}

#switch:checked + .toggle-label::after {
    transform: translateX(24px);
}
.hidden-com{
    display: none;
}
@media (max-width:767px) {
    .header-main-div{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .hidden-com{
        display: none;
    }
    .mobile{
        color: red;
        user-select: none;
    }
}