.navigation-cont{
    background-color: transparent;
    width: 100%;
    /* background-color: red; */
}
.active-navbar{
    color: red;
    border-right: 2px red solid;
}

.navigation-btn{
    visibility: hidden;
}