.logo{
    margin: 1%;
    width: 80px;
    height: 80px;
    /* background-color: red; */
}
.main-nav-contain{
    justify-content: space-evenly;
}
.index{
    z-index: 99;
}
.navi{
    color: #D24545 !important;
    /* background-color: red; */
}
.navigation:hover{
    color: blueviolet !important;
}

.ft-navigation:hover{
    color: rgb(79, 233, 79) !important;
}
.footer-shadow{
    text-shadow: 2px 3px 5px black;
}

.social-media:hover{
    transform: scale(1.3);
}